[user]
    name = Josh Partlow
    email = jpartlow@glatisant.org
    signingkey = 25F4E482E0877735
[color]
    ui = auto
[alias]
    lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(magenta)%G?%C(reset) %C(cyan)%cr - %ci%C(reset) %s %C(green)%d%C(reset)' --graph --date-order"
[alias]
    mr = "--no-ff --log"
[alias]
    branchdate = "for-each-ref --sort='-authordate' --format='%(authordate)%09%(refname:short)'"
[alias]
    branchdate-full = "for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname:short)\n%09%(subject)'"
[alias]
    cb = "checkout -b"
[alias]
    mg = "merge --no-ff --log"
[push]
    default = current
[rerere]
    enabled = true
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    trustExitCode = false
    keepBackup = false
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[tag]
    gpgSign = true
